@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


:root{
    --cor--principal: white;
    --cor--secundaria: blue;
    --cor--tercearia:lightblue;
    --cor--fundo:black;
    --cor--efeito--botao:rgb(67, 23, 67);

    --font--principal:'inter', sans-serif; 
}

body{
    background-color: var(--cor--fundo);
    color: var(--cor--principal);
    font-family: var(--font--principal);
    font-size: 16px;
    font-weight: 400;
}

*{
    margin:0%;
    padding:0%;
}

.container__caixa{
    margin: 0em 3em;
}

.principal{
    background-image: url(img/Background.png);
    background-repeat: no-repeat;
    background-size: contain;
    align-items:center;
    text-align: center;
}

.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 40% 40%;

}

.container__titulo{
    font-size: 28px;
    font-weight: 700;
}

.container__img{
    margin: 2em 0 2em 0em;

}

.container__botao{
    text-decoration: none;
    color: var(--cor--principal);
    background-color: var(--cor--secundaria);
    font-size: 20px;
    padding: 1em; 
    /* (em) e a medida da font e o padding, font 16px padding e igual */
    border-radius: 10px;
    display: block;
    margin-bottom:1em;
}
.container__botao:hover{
    background-color: var(--cor--efeito--botao);
    color: var(--cor--fundo)
}

.botao__secundario{
    background-color:transparent;
    border:3px solid var(--cor--tercearia);
}

.container__aviso{
    font-size: 12px;
    color: var(--cor--tercearia);
}

.secundario__imagem{
    width: 80%;
}

.secundario{
    align-items: center;
    margin: 0 0 0 10em ;
}

.descricao__titulo{
    font-weight: 700;
    font-size: 48px;
    color: var(--cor--principal);
    margin-bottom: 0.2em;
}

.descricao__texto{
    color: var(--cor--tercearia);
}

.secundario__botao{
    display: inline-block;   
    margin-top: 1em;
}

.container__descricao{
padding: 2em;
}

.dispositivos__lista{
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin:4em 0;
}

.dispositivos{
    text-align: center;
}

.dispositivos__titulo{
    font-size: 48px;
    color: var(--cor--principal);
}

.lista__item{
    font-size: 32px ;
    color: var(--cor--tercearia);
}

.rodape__logo{
    display: block;
    justify-self: center;
}

.rodape__lista{
    display: flex;
    margin: 1em 1em ;
    justify-content: center;
}

.lista__link{
    margin:2em;
    list-style-type: none;
}

.lista__link a:hover{
    color: var(--cor--tercearia);
}

.lista__link a:active{
    color:yellow;
}

.rodape__texto{
    text-align: center;
    margin: 1em;
}